        .container {
            background-color: whitesmoke;
            display: flex;
            justify-content: center;
            margin-left: 18%;
            margin-right: 18%;
            display: flex;
            flex-direction: row;
            height: 100%;
            
        }
        
        .body {
            background-color: #858585;
            min-height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            font-family: 'Roboto';
        }
        
        .personal-info {
            background: #282828;
            width: 40%;
            padding-left: 10px;
        }
        
        .subtitle {
            font-family: sans-serif;
            color: #ffff;
        }
        
        .img-container {
            height: auto;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 10%;
            align-content: center;
            text-align: center;
            align-items: center;
        }
        
        .circle-img {
            width: 140px;
            height: 140px;
            border: 3px solid rgb(77, 77, 77);
            background-color: black(255, 255, 255);
            border-radius: 150px;
            background-image: url(../Assets/Logo_Hackademy.png);
            margin: auto;
            margin-top: 13%;
        }
        
        .circle-img:hover {
            opacity: 50%;
        }
        
        .add-img {
            width: 44px;
            height: 44px;
            border: 3px solid rgb(77, 77, 77);
            border-radius: 150px;
            background-image: url(../Assets/icon_add_image.png);
            background-color: rgb(158, 157, 157);
            position: absolute;
            margin-top: 95px;
            margin-left: 20px;
        }
        
        .input-a {
            margin-top: 10px;
            font-family: sans-serif;
            width: 75%;
            padding: 5px 10px;
        
        }
        
        #name-user {
            margin-top: 10px;
            font-family: sans-serif;
            width: 80%;
        }
        
        .i {
            color: white;
        }
        
        .boton-guardar {
            display: inline-block;
            padding: 0.46em 1.6em;
            border: 0.1em solid #000000;
            margin-top: 20px;
            border-radius: 0.12em;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: #000000;
            text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
            background-color: #70f356;
            text-align: center;
            transition: all 0.15s;
            border-radius: 5px;

        }
        
        .boton-guardar:hover {
            text-shadow: 0 0 2em rgba(255, 255, 255, 1);
            color: #FFFFFF;
            border-color: #FFFFFF;
        }

        .boton-add {
            display: inline-block;
            padding: 0.46em 1.6em;
            border: 0.1em solid #ffffff;
            margin: 1em 0em 4em 6em;
            border-radius: 0.12em;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: #ffffff;
            text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
            background-color: #d10000;
            text-align: center;
            transition: all 0.15s;
            border-radius: 5px;

        }
        
        .boton-add:hover {
            text-shadow: 0 0 2em rgba(255, 255, 255, 1);
            color: #FFFFFF;
            border-color: #000000;
            background-color: rgb(122, 0, 0);
        }
        
        .input-b {
            width: 100%;
        }
        
        .picker-aptitudes {
            margin-left: 8%;
            width: 78%;
            height: 3%;
        }
        .new-soft{
            margin-left: 8%;
            display: flex ;
        }
        
        .lvl-domain{
            margin: 8%;
            width: 100%;
        }

        .p-a {
            color: white;
            font-size: 15px;
            margin-left: 5%;
        }
        
        .description-txt {
            
            margin-left: 20px;
            display: flex;
            flex-direction: column;
        }
        
        .line-a {
            border: 1px dashed;
            color: white;
            width: 90%;
            margin: auto;
            margin-top: 10%;
        }
        
        .li-a {
            list-style: none;
            color: #ffff;
            text-align: left;
            margin-right: 10px;
        }
        
        .li-a ul {
            display: flex;
            align-items: center;
        }
        
        .li-a p {
            padding-left: 5px;
            margin: 0px;
        }
        
        .experience-info {
            height: 100%;
            width: 65%;
            padding-left: 10%;
        }
        
        .works-info {
            margin-top: 10%;
        }
        
        .h1-b {
            font-family: sans-serif;
            color: #000;
            text-transform: uppercase;
            letter-spacing: 5px
        }
        
        .ul-b {
            color: black;
            text-align: left;
            margin-right: 10px;
        }
        
        .line-b {
            border: 1px dashed;
            color: black;
            width: 90%;
        }
        
        @media(max-width:540px) {
            .container {
                flex-direction: column;
                margin: 0;
            }
            .personal-info {
                width: 100%;
            }
            .line-a {
                margin-top: 10px;
            }
        }
        
        @media(max-width:714px) {
            .container {
                margin-left: 0;
                margin-right: 0;
            }
        }
        
        @media(max-width:980px) {
            .container {
                margin-left: 0;
                margin-right: 0;
            }
        }